*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
} 
@media print {
  .table, .table__body {
   overflow: auto;
   height: auto !important;
   width: auto !important;
  }
 }
  

 .container{
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
  height:280px;
  width:280px;
  bottom: 35px;
  left: 84%;
}
.editoverlay{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500;
  height: 400;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  
}   
#error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #ffcccc;
  color: #ff0000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

#error-message.show {
  display: block;
}

#error-message button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown-profile{
  position:fixed;
    background-color: #FFEBCF;
    width: 500px;
    height: 600px;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.dropdown-profile h5edit{
  color: #000000;
  size: 5px;
  padding: 10px;
}
.dropdown-profile .profile{
  position:relative;
  width:120px;
  height:120px;
  margin-top: 30px;
  margin-left: 185px; 
  border-radius:50%;
  overflow:hidden;
  cursor:pointer;
}
.dropdown-profile  .profile img{
  z-index: 100;
  position:absolute;
  top: 0px; 
  left: 0px;
  width: 100%; 
  height: 100%;
  object-fit:cover;
}
 
.inputname,
.inputEmail,
.inputPassword{
  width: 200px;
  border: 1px solid #000000; 
  margin: 10px 0 5px 0;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none; 
}
.action{
  position:relative;  
}
.action .profile{
  position:relative;
  width:60px;
  height:60px;
  margin-top: 25px;
  margin-left: 200px;
  margin-bottom: 40px;
  border-radius:50%;
  overflow:hidden;
  cursor:pointer;
}
.action .profile img{
  position:absolute;
  top: 0px; 
  left: 0px;
  width: 100%; 
  height: 100%;
  object-fit:cover;
}
.action .menu{  
  top:75px;
  right:-130px;
  padding: 20px;
  background: #FFEBCF;
  border: 2px solid #000000;
  width: 230px; 
  border-radius:15px;
  transition:0.5s;
  visibility:visible;
  opacity:0;
}
.action .menu.active{  
  visibility:visible;
  opacity:1;
}
.action .menu h3{
  width:100%;
  text-align:center;
  font-size: 18px;
  padding:20px 0;
  font-weight: 500;
  font-size: 15px;
  color:#000000;
  line-height: 25px;
}
.action .menu h3 span{
  font-size: 15px;
  color:#000000;
  font-weight: 400;
} 

.logoutBtn{
  width: 170px;
  padding: 10px; 
  border-radius: 15px;
  background-color: #ffffff; 
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}     
.logoutBtn:hover {
  background-color: #707070; 
}

.editprofileBtn{
  width: 170px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff; 
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}   
.editprofileBtn:hover {
  background-color: #707070; 
} 
.saveEditbtn{
  width: 170px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #ffffff; 
  text-decoration: none;
  cursor: pointer;
  border: 2px #000000;
  transition: background-color 0.3s ease;
  font-size: 15px;
}
.saveEditbtn:hover {
  background-color: #707070; 
} 
/* header&search */
.header{
  background-color: #213B9A;
  height: 90px;
  padding: 0px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: white;
  background-repeat: no-repeat;
}
.search {
  width: 700px;
  margin-left: 130px;
  margin-top: auto;
  position: relative;
  display: flex;
}
.wrap{
  position:absolute;
  width: 100px;
  height: 90px;
}
.searchTerm { 
  margin-top: 20px;
  width: 600px;height: 30px;
  border: 3px solid #d8b34d;
  border-right: none; 
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #000000;
}
.searchButton {
  margin-top: 20px;
  width: 60px; height: 45 px;
  border: 3px solid #d8b34d;
  background: #d8b34d;
  text-align: center;
  color: #000000;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchTerm:focus{
  color: #000000;
}

/* left sidebar */
.Lsection{
  background-color: #E2C17B;
  float: left;
  height: 130%;
  width: 80px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  position: absolute;
  background-size:100% 100%;
} 
#SectionBtn{
  top: 20px;
  left: 50px;
  position: relative;
  width: 50px;
  height: 50px ;
  transition:.5s;
}
.notif{
  top: 10px;
  left: 10px;
  width:50px;
  height:30px;
  padding: 60px 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  background-image: url(menu_assets/notif_icon.png);
  background-repeat: no-repeat;
}
.class{
  top: -10px;
  left: 15px;
  width:50px;
  height:30px;
  padding: 55px 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  background-image: url(menu_assets/team_icon.png);
  background-repeat: no-repeat;
}
.schedule{
  top: -25px;
  left: 15px;
  width:50px;
  height:30px;
  padding: 60px 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  background-image: url(menu_assets/schedule_icon.png);
  background-repeat: no-repeat;
}
.capstone{
  top: -45px;
  left: 20px;
  width:50px;
  height:30px;
  padding: 60px 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  background-image: url(menu_assets/capstone_icon.png);
  background-repeat: no-repeat;
}
.logobtn{ 
width:100px;
height:90px;
top: -10px;
left: -10px;
cursor: pointer;
background: transparent;
border: 0;
outline: none;
position: relative;
background-image: url(menu_assets/system_logo.png);
background-repeat: no-repeat;
}
.Users{
    top: -65px;
    left: 20px;
    width:50px;
    height:30px;
    padding: 60px 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    background-image: url(menu_assets/users-icon.png);
    background-repeat: no-repeat;
    /* color: white; */
  }
  .Defense-Reports{ 
    top: -85px;
    left: 20px;
    width:50px;
    height:30px;
    padding: 60px 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    background-image: url(menu_assets/defense-icon.png);
    background-repeat: no-repeat;
    font-size:small;
    /* color: white; */
  } 
/* layouthtml end */



  .classlist{
    
    width: 82%; /* Set width */
    height:550px; /* Set height */
    overflow: auto; 
    padding: 25px;
    margin: 1% auto;
    background-color: #e2dacd;
    border-radius: 25px;
    
  }
  
.rubric-header {
  background-color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  margin-top: 2%;
  border-radius: 20px;
}
.rubric-header h1 {
  margin: 0;
  color: #171616;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
 
}
th, td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
}
th {
  background-color: #FFD08B;
  color: white;
  text-align: center;
}
td select {
  padding: 15px;
  width: 70px;
  border-radius: 5px;
  font-size:20px;
}
.courseCode-column {
  width: 30%;
}

.criteria {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.criteria tr {
  border-bottom: 5px solid #050404; /* Add a border-bottom to each row inside .criteria */
}
.criteria .description {
  padding: 10px;
  border-right: 1px solid #ddd;
 font-size: 23px  ;
}
    .courseName a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: #000000;
        background-color: #f6f8fa;
        border-radius: 5px;
    }

    .courseName a:hover {
        background-color: #484f56;
    }
    

  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      padding-top: 60px;
  }

  .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 500px;
  }

  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
    /* CSS for Bar Graph */
    #stats-bar-graph {
      margin-top: 20px;
      max-width: 300px;
  }

  .bar-container {
      float: left;
      height: 150px;
      margin-right: 8px;
      position: relative;
      text-align: center;
      width: 80px;
  }

  .bar {
      border-radius: 3px;
      bottom: 0;
      position: absolute;
      width: 40px;
  }

  .verdict {
      bottom: -20px;
      left: 0;
      position: absolute;
      right: 0;
      margin: 0 auto;
      font-size: 14px;
  }

  .bar-pass .bar {
      background-color: #64b2d1;
  }

  .bar-conditional-pass .bar {
      background-color: #5292ac;
  }

  .bar-repeat .bar {
      background-color: #407286;
  }