*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@media print {
  .table, .table__body {
   overflow: visible;
   height: auto !important;
   width: auto !important;
  }
 }
body{
    background: #CBC4BA;
    overflow-x: hidden;
    overflow: hidden;
} 
.hero{
    height: 100%;
    width: 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    position: absolute;
    background-size:100% 100%;
}
.container{
    position: relative; 
    display:flex;
    align-items:center;
    justify-content:center;
    height: 0px;
    width:100%;
}  
.action{
    position: absolute;
    margin-top: -60px;
    right: 0px;
}
.action .profile{
    position:relative;
    width:60px;
    height:60px;
    border-radius:50%;
    overflow:hidden;
    cursor:pointer;
}
.action .profile img{
    position:absolute;
    top: 0px; 
    left: 0px;
    width: 100%; 
    height: 100%;
    object-fit:cover;
  }
  .action .menu{
  position:absolute;
  top:75px;
  right:-10px;
  padding: 20px;
  background: #FFEBCF;
  border: 2px solid #000000;
  width: 230px;
  box-sizing: 0 5px 5px rgba(0,0,0,.1);
  border-radius:15px;
  transition:0.5s;
  visibility:visible;
  opacity:0;
}
.action .menu.active{
  top:80px;
  visibility:visible;
  opacity:1;
}
.action .menu h3{
    width:100%;
    text-align:center;
    font-size: 18px;
    padding:20px 0;
    font-weight: 500;
    font-size: 15px;
    color:#000000;
    line-height: 25px;
  }
  .action .menu h3 span{
    font-size: 15px;
    color:#000000;
    font-weight: 400;
  } 
  .logoutBtn{
    width: 170px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
  }     
  .logoutBtn:hover {
    background-color: #707070; 
  }
  .editprofileBtn{
    width: 170px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
  }   
  .editprofileBtn:hover {
    background-color: #707070; 
  } 
.header{
    background-color: #213B9A;
    height: 30px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-repeat: no-repeat;
}
.search {
    width: 700px;
    margin-left: 100px;
    position: relative;
    display: flex;
}
.wrap{
    position:absolute;
    top: -10px;
    left: -10px;
}
.wrap .logo img{
    position:relative;
    width:5px;        
    height:5px;
    border-radius:50%;  
}
.searchTerm {
    margin-left: 0;
    margin-top: 0;
    width: 600px;
    border: 3px solid #d8b34d;
    border-right: none;
    padding: 5px 20px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
  }
.searchButton {
    margin-top: 0px;
    width: 60px;
    height: 44px;
    border: 1px solid #d8b34d;
    background: #d8b34d;
    text-align: center;
    color: #000000;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }
.searchTerm:focus{
    color: #000000;
}
.Lsection{
    background-color: #E2C17B;
    float: left;
    height: 100%;
    width: 80px;
    padding: 0;
}

#SectionBtn{
    top: 20px;
    left: 50px;
    position: relative;
    width: 50px;
    height: 50px ;
    transition:.5s;
}
.notif{
    top: 10px;
    left: 10px;
    width:50px;
    height:30px;
    padding: 60px 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    background-image: url(menu_assets/notif_icon.png);
    background-repeat: no-repeat;
}
.class{
    top: -10px;
    left: 15px;
    width:50px;
    height:30px;
    padding: 55px 5px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    background-image: url(menu_assets/team_icon.png);
    background-repeat: no-repeat;
}
.schedule{
    top: -25px;
    left: 15px;
    width:50px;
    height:30px;
    padding: 60px 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    background-image: url(menu_assets/schedule_icon.png);
    background-repeat: no-repeat;
}
.capstone{
    top: -45px;
    left: 20px;
    width:50px;
    height:30px;
    padding: 60px 0px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    background-image: url(menu_assets/capstone_icon.png);
    background-repeat: no-repeat;
}
.logobtn{ 
  width:100px;
  height:100px; 
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  background-image: url(menu_assets/system_logo.png);
  background-repeat: no-repeat;
}
.notificationContainer{
  width: 350px; 
  margin-top: 50px;
  margin-left: 130px;
}

.single-box{
  width: 180px;
  padding: 20px;
  margin-top: 40px;
  margin-left: 120px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

/* }
a.read{
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
}
.single-box:hover {
  background-color: #0056b3;
}
.single-box:active {
  background-color: #004080;
}  
.tableDiv{
    width: 1000px;
    height: 00px;
    margin-top: 50px;
}
main.table {  
  margin-left: 430px;
  margin-top: 20px;
  width: 100;
  height: 800px;    
  background-color: #ffff; 
  border-radius: 15px;
  }
  
  .table__header {
  width: 100%;
  height: 5%;
  background-color: #E2C17B;
  padding: 15px;
  display: flex;
  justify-content: space-between; */
  /* align-items: center;
  }
  .table__body{
    width: 1000 px;
    height: 95%;
  } */
  /* Mali ko  */
  /* .mybutton{
    outline: 0px;
    transition:backround-color 0.5s ease;
    text-align: center;
    margin: 2px;
  }
  button:hover{
    background-color:#958f87;
  }
  .group_name{
    margin-top: 10%;
    position: center;
    
  }
  .Group_btn{
    height: 10%;
    margin-top: 10%;
    margin: 100px;
  }
  .Group-nameBtn{
    width: 350px;
    height: 25px;
    margin: 150px;
   
    background-color: #F8EFE3; 
    position: relative;
    border-radius: 20px;
    outline: none;
    text-align: center;
  }

  .Rep-FilesBtn{
    width: 50px;
    height: 25px;
    margin-left: -50px;
    background-color: #F8EFE3;
    position: relative;
    border-radius: 20px;
    outline: none;
  } 
  .Submission-Btn {
    width: 100px;
    height: 25px;
    background-color: #F8EFE3;
    position: relative;
    border-radius: 20px;
}
  .Members-Btn{
    width: 75px;
    height: 25px;
    margin-right: 30px;
   background-color: #F8EFE3;
   position: relative;
   border-radius: 20px;
  }

  .Table_default #docx-button{
    background-color: #F8EFE3;
    color:#000000;
    width: 150 px;
    height: 35 px;
    position: relative
    ;
  }
  #docx-button{
    position: relative;
    margin: 150px;
    margin-top: 100px;
  }
  .classBox{
    background: #0056b3;
    width: 150 px;
    height: 35 px;
    margin: relative; 
     background-color: #F8EFE3;
    color:#000000;
  }
  .button1{
    width: 250px;
    margin-top: -50px;
    margin-left: 1%;  
    margin-bottom: 1%;
  } */
 
  .course_created{
  width: 350px; 
  height: 700px; 
  margin-left: 60px;
 }
  .StudentClass{
    margin-left: 80px; 
    width: 1200px;
    height: 1200px;  
    position:relative; 
  }
  .S_courseInfo h2 {
    width:140px;
    text-align:right;
    font-size: 18px;
    padding: 0px 5%;
    font-weight: 100;
    font-size: 15px;
    color:#000000;
    line-height: 25px;
  } 
  .S_courseInfo {
     
    margin-top: 20px; 
    width: 350px; 
    padding: 10px 30px;
    background-color: transparent;
    border-top: 0.5px  solid #000000;
    border-bottom: 0.5px  solid #000000; ;
    border-right:none ;
    border-left:none ;
    height: 50px; 
    align-items: center;
  } 
  .StudentDefault{
    position: relative;
    margin-left: 475px;
    width: 1000px;
    height: 600px;
    padding: 25px;
    margin-top: -700px;
   
  }
  .dashboard_header{
    background-color: #E2C17B;
    width: 100%;
    margin-left: -25px;
    margin-top: -35px;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 10px;
  }
  .defaultBody{
    
    background-color: #ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 1000px;
    height: 600px;
    margin-left: -25px;
    margin-top: 0px;
    display: flex;
  }

  .groupname_container{
     margin-top: 8px;
     margin-left: 25px;
    width: 350px;
    height: 35px; 
    grid-column: 1 / 2;
    display: flex;
    text-align: center;
  }
  .group_name{
    width: 350px;
    height: 35px;
    background-color: #F8EFE3; 
    position: relative;
    border-radius: 20px;
    outline: none;
    display: flex;
    margin-top: 3px ;
    justify-content: center;
    align-items: center;
  }
  .button-group{
    grid-column: 2 / 3;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    outline: 0px;
    transition:backround-color 0.5s ease;
    text-align: center;
    margin-top: 13px;
    margin-right: 105px;
    transition: backround-color .3s ease;
  }
  .Rep-FilesBtn:hover{
    background-color: #958f87;
  }
 
  .Submission-Btn:hover{
    background-color: #958f87;
  }
  .Rep-FilesBtn, .Submission-Btn, .Members-Btn {
    width: auto; 
    height: 25px;
    background-color: #F8EFE3;
    position: relative;
    border-radius: 20px;
    border: none;
    padding: 0 10px; 
    cursor: pointer;
    margin: 5px;
}
.Rep-FilesBtn {
    width: 66px; 
}
.Members-Btn {
    width: 120px; 
    margin-right: 10px; 
}
.Submission-Btn {
    width: 100px;
    height: 25px;
    background-color: #F8EFE3;
    position: relative;
    border-radius: 20px;
    border: none;
  }
.Members-Btn{
  border: none;
  width: 75px;
  height: 25px;
  margin-right: 10px;
  background-color: #F8EFE3;
  position: relative;
  border-radius: 20px;
  border: none;
  transition:backround-color .3s ease;
} 
.Members-Btn:hover {
  background-color: #958f87;
}
*/
  button:hover{
    background-color:#958f87;
  }
  .mDropdown{
    position: relative;
  }
  .GroupmembersContainer{
    position: absolute;
    width: 170px;
    height: 75px;
    left: -100px;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius:.25rem ;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out;
    z-index: 1000;
  }

  .mDropdown > .Members-Btn:focus + .GroupmembersContainer{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .submissionFrame, .studentFilesR {
    display: none;
    background-color: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 1000px;
    height: 600px;
    margin-left: -25px;
    margin-top: 0px;
    display: flex;
    flex-direction: row; /* Display children elements in a row */
}
.req-nameCont{
  width: 350px;
  height: 580px; 
  display: flex;  
  margin-top: 25px;
}

.requirement-list{
  
  background-color: white; 
  border-radius: 35px;
  width: 350px;
  height: 580px;
  margin-top: 8px;
  
}
.submissionscontainer{
  width: 1000px;
  height: 600px;
  
  margin-top: 0px;
  display: flex;
  flex-direction: row; /* Display children elements in a row */
}
.requirement-name{
  position: relative;
  background-color: #F8EFE3;
  border-radius: 25px;
  width: 250px;
  height: 55px  ;
  margin-left: 50px;
  text-align  : center;
  padding-top: 40px;

}
.requirement-details{
  position: relative;
  background-color: white; 
  border-radius: 35px;
  width: 650px;
  height: 580px;
  margin-top: 8px;
  margin-left: 15px;
  text-align: center;
}

/* start */
.requirement-title{
  text-align: left;
  margin: 15px;
  margin-top: 50px;
}
.requirement-due{
  text-align: left;
  margin: 15px;
  margin-top: -15px;
}
.requirement-descriptionCont{
  text-align: left;
  margin: 15px;

  width: 475px;
  height: 235px;
}
.requirement-descBox{
  width: 475px;
  height: 135px;
  background-color:#F8EFE3;
  margin-left: 0;
  margin-top: 30px;
  text-align: center;
  border-radius: 15px;
}
.reqfile-version{
  text-align: left;
  margin: 15px;
  margin-top: -40px;
}

.Attach-Files{
  text-align: left;
  margin: 15px;
  margin-top: -10px; 
  height: 95px;  
  margin-left: 15px;
  margin-top: -20px  ;
}
.req-submitbtnCont{
  margin-left: 435px;
  margin-top: -25px;
}
.reqbtn{
  height: 25px;
  width: 95px;
  border-radius: 15px;
  border: none;
  background-color: #FFEBCF;
}

label{
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(course_assets/plus.png);
  margin: -23px 120px;     
}
#input-file{
  display: none;
  /* margin-top: 10px; */
}
#attach-btn{
  display: none;
}
#studentCoursesDropdown{
  margin: 5px;
  margin-top: 40px;
  height: 1000px;
}